@model IEnumerable<Taxi.Models.TaxiOrder>

@{
    ViewBag.Title = "OrderHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>OrderHistory</h2>

 
<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HighPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LowPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Distance)
        </th>
         
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HighPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LowPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Distance)
        </td>
       
    </tr>
}

</table>
